@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

img{
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.box{
     display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 20px;
    width:35%;
    background-color: #FFB612;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.bigbox{
    display: flex;
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}
body{
    font-size: 1vw;
        background-color: #203731;
}

.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:#203731;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

h1{
    font-size: 100px;
    font-family: "Saira Stencil One", sans-serif;
    color:#FFB612;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    padding-bottom: 10px;

}
h2{
    font-size:60px;
    font-family: "Saira Stencil One", sans-serif;
    color:#203731;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}
