img{
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 30px;
}
.box{
    padding: 50px;
    width:35%;
    background-color: darkgreen;
    border-radius: 50px;
    padding-bottom: 20%;
}
.bigbox{
    display: flex;
  
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}
body{
        background-color: rgb(255, 228, 76);
}

.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}

p{
    color: rgb(255, 228, 76)
}

h1{
    color:rgb(255, 228, 76)
}

